{% extends "recipes/base.html" %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'recipes/styles/recipe-detail.css' %}">
{% endblock css_files %}


{% block content %}


<h2>{{ recipe.name|capfirst }}</h2>

<article>
    <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
</article>

<article class="ingredients">
    
    <div>
        <h3>Ingredients:</h3>
        <p>{{ recipe.ingredients }}</p>
    </div>

    <div class="preparation">
        <h3>Preparation:</h3>
        <p>{{ recipe.preparation }}</p>
    </div>

</article>




{% endblock content %}