<li class="recipe-card-item">
    <article class="post">
        <a href="{% url "recipe-detail-page" recipe.slug %}" class="recipe-link">
            <img src="{{ recipe.image.url }}" alt="{{ recipe.name }}">
            <div class="post-content">
                <div class="meta-row">
                    <span class="category-tag">{{ recipe.category|capfirst }}</span>
                    <span class="rating-tag">★ {{ recipe.rating }}</span>
                </div>
                <h6>{{ recipe.name|capfirst }}</h6>
            </div>
        </a>
    </article>
</li>